# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Python
__pycache__/
*.pyc
.env

# Node
node_modules/
package-lock.json

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# AWS
*.pem
*.ppk
credentials
config

# Misc
*.log
*.tmp
*.bak
